*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    color: white;
    background: #FD6E0A;
    height: 64px;
    font-weight: 700;
    font-size: 16px;
    width: 150px;
    border: 0;
    border-radius: 5px;
    padding: 18px 20px;

}
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* Header Section */
header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.icon-title{
    font-size: 45px;
    font-weight: 800;
}
header nav ul{
    display: flex;
    align-items: center;
}
header nav ul li{
    list-style: none;
    margin-left: 84px;

}
header nav ul li a{
    text-decoration: none;
}

/* Banner Section */
.banner{
    display: flex;margin: 0 200px;
    align-items: center;

}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 30px;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

/* Main Section */
.main-section{
    margin: 130px 200px;
}

/* About Section */
.about-section{
    background: #FFF8F3;
    padding: 130px;
    text-align: center;
}
.section-title{
    font-size: 35px;
    margin-bottom: 30px;
}
.about-info{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-around;

}
.about-info .name{
    color: #757575;
    font-weight: 500;
    
}
.about-info .person-details{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
}

/* What-i-do */
.What-i-do{
    text-align: center;
    margin-top: 130px;
}
.what-i-title{
    font-size: 35px;
}
.what-i-description{
    color: #757575;
    margin: 20px 0 50px 0;
}
.skill-box{
    display: flex; 
    justify-content: space-around;
    gap: 24px;
}
.box-4{
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
.box-title{
    margin: 15px 0;
}
.box-description{
    color: #757575;
}
/* summary title */
.summary-title{
    font-size: 35px;
    margin: 130px 0;
    text-align: center;
}
.summary-box-2{
    display: flex;
    gap: 24px;
}
.resume-topic{
    margin-bottom: 15px;
    font-size: 30px;
}
.edu-topic{
    font-size: 24px;
    font-weight: 600;
}
.uni-topic{
    font-weight: 500;
    font-size: 20px;
    color: #757575;
    margin: 10px 0;
}
.edu-description{
    color: #757575;
    margin-bottom: 30px;
}
.all-boxes{
    margin-top: 15px;
}
.edu-btn{
    margin: 30px;
    text-align: center;
}
/* footer */
.footer{
    background: #FFF8F3;
    padding: 130px 200px;
    display: flex;
    gap: 80px;
}
.footer-title{
    font-size: 30px;
    margin-bottom: 15px;
}
.description-footer{
    color: #757575;
    margin-bottom: 30px;
}
.img-icon-footer{
    display: flex;
    gap: 30px;
}
.connect-footer input, textarea{
    width: 460px;
    height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0 10px;

}
.textarea-footer{
    height: 150px;
}